

            {% extends 'base.html.twig' %}

            {% block title %}Eveil Kids | Panier {% endblock %}

            {% block body %}

            {% if cart.items|length > 0 %}
                
                <div>
                    <h2 class="title-panier">Votre panier</h2>                
                </div>
                <div class="cart-table">
                    <table class="table3">
                        <thead>
                            <tr>
                                <th class=""></th>
                                <th class="">Produit</th>
                                <th class="">Prix</th>
                                <th class="">Quantité</th>
                                <th class="">Total</th>
                                <th class="">Supprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                    
                            {% for item in cart.items %}
                            <tr>
                                <td>
                                    <span><img width="50" src="/assets/images/products/{{ item.product.imageUrls[0] }}" alt="product.name"></span>
                                </td>
                                <td>
                                    {{ item.product.name }}
                                </td>
                                <td >
                                    {{ item.product.price  }} {{'€'}}
                                </td>
                                <td >
                                    <div class="add">
                                        <a href="/panier/suppression/{{item.product.id}}/1"><input type="button" value ="-" class="moin"></a>                                        
                                        
                                        <input type="text" name="quantity" value="{{ item.quantity }}"  class="affichage">
                                        
                                        <a href="/panier/ajout/{{item.product.id}}/1"><input type="button" value="+" class="plus"></a>
                                        
                                    </div>
                                </td>
                                <td class="product-subtotal">
                                    {{ item.sub_total  }}
                                </td>
                                <td class="product-remove">
                                    <a href="/panier/suppression/{{item.product.id}}/{{item.quantity}}">
                                        <i class="ti-close"> X </i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                
                    <div class="reste">
                        
                            
                        
                                <p>Prix total : {{ cart.sub_total }} €</p>
                            
                            
                                <p>Livraison : Livraison seulement en France ( gratuite )</p>
                            
                                <a href="{{ path('app_checkout')}}">
                                    <button type="button" class="validate-cart-button">Valider mon panier</button>
                                </a>
                                             
                
                        
                    </div>
                </div>    
                    
                    
                  
                
            {% else %}
            <div class="panier-vide">
                <p>Votre panier est vide.</p>
            </div>
            {% endif %}

            {% endblock %}
