
    {% extends 'base.html.twig' %}
    
    {% block title %}Eveil Kids{% endblock %}
              
    
    {% block body %}
    <div class="slider-container">
        <div class="slider">
            {% for slider in sliders %}
            <section class="slide" style="background-image: url('assets/images/sliders/{{ slider.getImageUrl() }}')">
                <div class="bloc">
                    <div class="sliderdescription-{{ loop.index }}">
                        {{ slider.description }}
                    </div>
                    <div class="slidertitle-{{ loop.index }}">
                        {{ slider.title }}
                    </div>
                    <div class="sliderbutton-position-{{ loop.index }}">
                        <div class="sliderbutton-{{ loop.index }}">
                            <a href="{{ path('products_for_slider', {'slider_id': slider.getId()}) | e }}">{{ slider.getButtonLink}}</a>
                            
                        </div>
                    </div>
                </div>
            </section>
            {% endfor %}
        </div>
    
    
    
        <div class="position1">
            <button class="next-slide"> > </button>
        </div>
        <div class="position2">
            <button class="prev-slide"> < </button>
        </div>
        
        <div class="arrow-btn">
            <a href="#"><span class="fa-solid fa-arrow-up"></span></a>
        </div>
    </div>
   
    
    
</section>
<section class="preference">
    <h2>LES PRÉFÉRÉS DES PARENTS</h2>
    <div class="cards3-container">
        {% for product in productsPreference %}
        
            <div class="card3">                         
                
                <div class="card3-header">
                    <a href="{{ path('app_product_by_slug', {'slug': product.slug  | e }) }}">
                        <img class="product-image" src="{{ asset('assets/images/products/' ~ product.imageUrls[0]) }}" alt="{{ product.name }}"  >
                    </a>
                </div>
                
                <div class="productname">
                    <h3 >{{ product.name }}</h3>
                </div>
                <div class="productprice">
                    <p>Prix : {{ product.price }} €</p>
                </div>
                    
                <div class="addtocart">
                    <a href="{{ path('app_add_to_cart', {'productId': product.id, 'count': 1}) }}">Ajouter au panier</a>
                </div>
                                                
            </div>
        

        {% endfor %}
    </div>
</section>

<section class="montessori">
    <div id="container">
        <h2>MONTESSORI À LA MAISON</h2>
        <p>
            La pédagogie Montessori est une méthode d'éducation qui encourage l'autonomie et l'épanouissement de l'enfant. 
            Elle est basée sur l'observation de l'enfant et la mise à sa disposition d'un environnement adapté à ses besoins. 
            Eveil Kids vous propose une sélection de produits Montessori pour accompagner votre enfant dans son développement.
        </p>
        <h3>
            Le matériel Montessori :
        </h3>
        <p>
            Eveil Kids vous propose une sélection de matériel Montessori pour accompagner votre enfant dans son développement. 
            Vous trouverez des jeux et des jouets pour les enfants de 0 à 12 ans. 
           
        </p>
        
       
        <h3>    
            Apprendre par le jeu :
        </h3>
        <p>
            En plus de l'offre complète Montessori, nous avons sélectionné les meilleurs jeux et jouets pédagogiques pour vos enfants. L'ADN de chaque jouets d'Eveil-Montessori est toujours "Apprendre en jouant".
            En effet, jouer est le meilleur moyen d'apprendre. L'un ne va pas sans l'autre. C'est pourquoi nous mettons tout notre savoir-faire et toute notre expérience dans la sélection et la conception de jouets
            éducatifs qui ont un sens pédagogique et qui apporte des compétences supplémentaires à votre enfant.

        </p>
    
</section>

    
    {% endblock %} 
 
