{% extends 'base.html.twig' %}

{% block title %}Catégorie {{ category.name }} {% endblock %}

{% block body %}
    <section>

        <div class="category-header">
            <h3>Produits de la catégorie {{ category.name }}</h3>
        </div>

        <div class="sort-links">
            <div>
                <a href="{{ path('products_by_category', {'categoryId': categoryId, 'sort_by': 'asc'}) }}">Tri croissant</a>
            </div>
            <div>
                <a href="{{ path('products_by_category', {'categoryId': categoryId, 'sort_by': 'desc'}) }}">Tri décroissant</a>
            </div>
        </div>


        <div class="cards-container">
            {% for product in product %}
            
                <div class="card">                         
                    
                    <div class="card-header">
                        <a href="{{ path('app_product_by_slug', {'slug': product.slug }) }}">
                            <img class="product-image" src="{{ asset('assets/images/products/' ~ product.imageUrls[0]) }}" alt="{{ product.name }}"  >
                        </a>
                    </div>
                    <div class="productname">
                        <h3>{{ product.name }}</h3>
                    </div>
                    <div class="productprice">
                        <p>Prix : {{ product.price }} €</p>
                    </div>
                        
                    <div class="addtocart">
                        <a href="{{ path('app_add_to_cart', {'productId': product.id, 'count': 1}) }}">Ajouter au panier</a>
                    </div>
                                                    
                </div>
            

            {% endfor %}
        </div>

    </section>

{% endblock %}


