{% if sliderId == 1 %}
    {% for product in productsBestSeller %}
        <div class="product">
            {{ product.name }} - {{ product.price }}
        </div>
    {% endfor %}
{% elseif sliderId == 2 %}
    {% for product in productsNewCollection %}
        <div class="product">
            {{ product.name }} - {{ product.price }}
        </div>
    {% endfor %}
{% elseif sliderId == 3 %}
    {% for product in productsSpecialOffer %}
        <div class="product">
            {{ product.name }} - {{ product.price }}
        </div>
    {% endfor %}
{% endif %}
