
{% extends 'base.html.twig' %}

{% block title %}Catégorie {{ category.name }} {% endblock %}

{% block body %}
   
    <section class="section-category">

        <div class="category-name">
            <h2>Produits de la catégorie {{ category.name }}</h2>
        </div>
        {% if product is not empty %}
                {# Liens de tri pour ordonner les produits #}
                <div class="sort-links">
                    <div>
                        <a href="{{ path('products_by_category', {'categoryId': categoryId, 'sort_by': 'asc'}) }}">Tri croissant</a>
                    </div>
                    <div>
                        <a href="{{ path('products_by_category', {'categoryId': categoryId, 'sort_by': 'desc'}) }}">Tri décroissant</a>
                    </div>
                </div>


                <div class="cards3-container">
                    {% for product in product %}
                    
                        <div class="card3">                         
                            {#  le lien vers le détail du produit #}
                            <div class="card3-header">
                                <a href="{{ path('app_product_by_slug', {'slug': product.slug | e }) }}">
                                    {# Image du produit #}
                                    <img class="product-image" src="{{ asset('assets/images/products/' ~ product.imageUrls[0]) }}" alt="{{ product.name }}"  >
                                </a>
                            </div>
                            {# Nom du produit #}
                            <div class="productname">
                                <h3>{{ product.name }}</h3>
                            </div>
                            {# Prix du produit #}
                            <div class="productprice">
                                <p>Prix : {{ product.price }} €</p>
                            </div>
                            {# Lien pour ajouter le produit au panier #}
                            <div class="addtocart">
                                <a href="{{ path('app_add_to_cart', {'productId': product.id, 'count': 1}) }}">Ajouter au panier</a>
                            </div>
                                                            
                        </div>            

                    {% endfor %}
                </div>
            {% else %}
                <p>Aucun produit disponible dans cette catégorie.</p>
        {% endif %}
    </section>

{% endblock %}


