{% extends 'base.html.twig' %}

{% block body %}
    <h3>Produits de la catégorie {{ category.name }}</h3>
    <a href="{{ path('products_by_category', {'categoryId': categoryId, 'sort_by': 'asc', 'prix_max': app.request.query.get('prix_max')}) }}">Tri croissant</a>
    <a href="{{ path('products_by_category', {'categoryId': categoryId, 'sort_by': 'desc', 'prix_max': app.request.query.get('prix_max')}) }}">Tri décroissant</a>


            {# <form method="get" action="{{ path('products_by_category', {'categoryId': categoryId}) }}" id="filterForm">
                <select name="prix_filter" onchange="submitFormWithFilter(this.value)">
                   
                
                    <option value="all" {% if not app.request.query.get('prix_filter') %}selected{% endif %}>Tous les produits</option>
                    <option value="inf" {% if app.request.query.get('prix_filter') == 'inf' %}selected{% endif %}>Prix inférieur à 9.99€</option>
                    <option value="sup" {% if app.request.query.get('prix_filter') == 'sup' %}selected{% endif %}>Prix supérieur ou égal à 9.99€</option>
                </select>
            </form>
            
            <script>
                function submitFormWithFilter(filterValue) {
                    console.log('submitFormWithFilter called with filterValue:', filterValue);
                    document.getElementById('filterForm').querySelector('[name="prix_filter"]').value = filterValue;
                    document.getElementById('filterForm').submit();
                }
            </script> #}
           
            
            
    <ul>
        {% for product in products %}
            <li>{{ product.name }}  {{ product.price }} {{'€'}}</li><br>
            <li>{{ product.description}}</li><br>
            <li>{{ product.moreDescription}}</li><br>

            
            <li><a href="{{ path('app_add_to_cart', {'productId': product.id, 'count': 1}) }}">Ajouter au panier</a></li>
            

            
            


            {% endfor %}
        </ul>
        {% endblock %}


