
{% extends 'base.html.twig' %}


{% block title %} {{ product.name }} {% endblock %}

{% block body %}
    <h3>Produits de la catégorie {{ product.category }}</h3>
    <ul class="product-details">
        <li>{{ product.name }} - {{ product.price }} €</li>
        <li>{{ product.description }}</li>
    </ul>
    <a href="{{ path('app_cart') }}" class="">Voir mon panier</a>
    {{ form_start(form, {'attr': {'class': 'add-to-cart-form'}}) }}
    {{ form_widget(form.quantity) }}
    <button type="submit" class="add-to-cart-button">Ajouter au panier</button>
    {{ form_end(form) }}
{% endblock %}




         
