<footer>
    <section class="footer1">
        <div class="bloc1">
            <div class="logo-footer">
                <img src="{{ asset('assets/images/logo/EveilKids-removebg-preview.svg') }}" alt="Eveil-Kids">
            </div>
            <div class="para">
                <p>Retrouvez tous les jouets d'éveil et éducatifs de MONTESSORI</p>
            </div>
        </div>

        <div class="bloc2">
            <div class="liens">
                <h4>Liens Utiles</h4>
            </div>
            <ul>
                
                {% if app.session.has('footerPages') %}
                    {% for page in app.session.get('footerPages') %}
                        <li class="lien1">
                            <a href="{{ path('app_page', {'slug': page.slug}) }}">{{ page.title }}</a>
                        </li>                    
                    {% endfor %}
                {% endif %}

            </ul>
        </div>

        <div class="bloc3">
            <ul>
                <li class="liens">
                    <h4>Les Catégories</h4>
                </li>
                <li class="lien1">
                    <a href="{{ path('products_by_category', {'categoryId': 1}) }}">0 - 2 Ans</a>
                </li>
                <li class="lien1">
                    <a href="{{ path('products_by_category', {'categoryId': 2}) }}">2 - 4 Ans</a>
                </li>
                <li class="lien1">
                    <a href="{{ path('products_by_category', {'categoryId': 3}) }}">5 - 7 Ans</a>
                </li>
                <li class="lien1">
                    <a href="{{ path('products_by_category', {'categoryId': 4}) }}">8 - 12 Ans</a>
                </li>
            </ul>
        </div>

        <div class="bloc4">
            <ul>
                <li class="liens">
                    <h4>Contact infos</h4>
                </li>
                <li class="lien1">
                    <span>
                        <i class="fa-solid fa-location-dot"></i>{{ ' ' }} 202 Avenue de Colmar, 67100 Strasbourg.
                    </span>
                </li>
                <li class="lien1">
                    <span>
                        <i class="fa-solid fa-envelope"></i>{{ ' ' }} contact@Eveil-Kids.fr
                    </span>
                </li>
                <li class="lien1">
                    <span>
                        <i class="fa-solid fa-phone"></i>{{ ' ' }} +33 7 66 57 32 39
                    </span>
                </li>
            </ul>
        </div>

    </section>
    <section class="footer2">
        <div class="copyright">
            <span> ©2024 All rights reserved by Foued DERDECHE</span>
        </div>

     
    </section>
</footer>
