{% extends 'base.html.twig' %}

{% block body %}
    <h3>Produits de la catégorie {{ category.name }}</h3>

    <ul>
        {% for product in product %}
            <li>{{ product.name }} - {{ product.price }} €</li>
            <li>{{ product.description|slice(5, -5)}}</li>
            <li><a href="/panier/ajout/{{product.id}}">ajouter au panier</a></li>
            <a href="/panier/ajout/{{product.id}}/1">ajouter au panierrrr</a></li>
        {% endfor %}
        {# <a href="/cart/add/{{product.id}}">ADD TO CART</a> #}
    </ul>
{% endblock %}
