

{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="order-details-h1">Détails de la commande N° {{ order.id }}</h1>

  <div class="container-order-details">
        <p class="order-details_status">Statut : {{ order.status }}</p>
        <p class="order-details-total">Coût total : {{ order.orderCost }} €</p>

        <h2 class="order-details-commande">Produits commandés</h2>
        <table class="order-details-table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Coût total du produit</th>
                </tr>
            </thead>
            <tbody>
                {% for orderDetail in orderDetails %}
                    <tr>
                        <td>{{ orderDetail.product.name }}</td>
                        <td>{{ orderDetail.quantity }}</td>
                        <td>{{ orderDetail.getTotalCost }} € </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2 class="order-details-commande">Détails des produits</h2>
        <table class="order-details-table">
            <thead>
                <tr>
                    <th>Produit #</th>
                    <th>Quantité</th>
                    <th>Prix unitaire</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for productId, productInfo in productQuantities %}
                    <tr>
                        <td>{{ productId }}</td>
                        <td>{{ productInfo.quantity }}</td>
                        <td>{{ productInfo.price }} €</td>
                        <td>{{ productInfo.quantity * productInfo.price }} €</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    
    <div class="order-details-retour">
        <a href="{{ path('app_user', {'id': app.user.id}) }}">Retourner à mon compte</a>
    </div>
{% endblock %}
