{% extends 'base.html.twig' %}


{% block title %}Modifier mon adresse{% endblock %}

{% block body %}
    <h1>Modifier mon adresse</h1>

    {{ form_start(form) }}
    
    {{ form_row(form.client_name) }}
    {{ form_row(form.street) }}
    {{ form_row(form.code_postal) }}
    {{ form_row(form.city) }}
    {{ form_row(form.state) }}
    {# {{ form_row(form.more_details) }} #}
    

    {{ form_row(form._token) }}
<button type="submit" class="btn">Save</button>
{{ form_end(form) }}
   
    {% endblock %}
    
    
        {# {{ include('address/_delete_form.html.twig') }} #}

    {# {{ include('address/_delete_form.html.twig') }} #}
{# {% endblock %} #}
